# next auth (https://next-auth.js.org/configuration/providers)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# upstash redis (https://console.upstash.com)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# google oauth (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# pusher.com (https://dashboard.pusher.com/apps)
PUSHER_APP_ID=
NEXT_PUBLIC_PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=