name: CI

on: [pull_request, workflow_dispatch]

jobs:
  run-ci:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      UPSTASH_REDIS_REST_URL: http://localhost:3000
      UPSTASH_REDIS_REST_TOKEN: secret

      GOOGLE_CLIENT_ID: secret
      GOOGLE_CLIENT_SECRET: secret

      PUSHER_APP_ID: secret
      PUSHER_KEY: secret
      NEXT_PUBLIC_PUSHER_KEY: secret
      PUSHER_SECRET: secret
      PUSHER_CLUSTER: secret
      NEXT_PUBLIC_PUSHER_CLUSTER: secret

    name: Run Type Check & Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.22.0

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: pnpm install

      - name: Check types
        run: pnpm type-check

      - name: Check linting
        run: pnpm lint

      - name: Check commits messages
        uses: wagoid/commitlint-github-action@v5
